@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?496bbaf6a013fc51ffad05021b2d1ada") format("truetype"),
url("./flaticon.woff?496bbaf6a013fc51ffad05021b2d1ada") format("woff"),
url("./flaticon.woff2?496bbaf6a013fc51ffad05021b2d1ada") format("woff2"),
url("./flaticon.eot?496bbaf6a013fc51ffad05021b2d1ada#iefix") format("embedded-opentype"),
url("./flaticon.svg?496bbaf6a013fc51ffad05021b2d1ada#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-github:before {       /* GITHUB */
    content: "\f101";
    font-size: 1em;
}
.flaticon-home:before {         /* HOME */
    content: "\f102";
    font-size: 2em;
}
.flaticon-letter:before {       /* MENSAGEM/CONTATO */
    content: "\f103";
    font-size: 2em;
}
.flaticon-linkedin:before {     /* LINKEDIN */
    content: "\f104";
    font-size: 1em;
}
.flaticon-phone-call:before {   /* CALL */
    content: "\f105";
    font-size: 2em;
}
.flaticon-pin:before {          /* LOCATION */
    content: "\f106";
    font-size: 2em;
}
.flaticon-portfolio:before {    /* LISTA/PORTFOLIO 01 */
    content: "\f107";
    font-size: 2em;
}
.flaticon-profiles:before {     /* PERFIL/SOBRE */
    content: "\f108";
    font-size: 2em;
}
.flaticon-setting:before {      /* SERVIÇO 01 */
    content: "\f109";
    font-size: 2em;
}
.flaticon-user:before {         /* LISTA/PORTFOLIO 02*/
    content: "\f10a";
    font-size: 2em;
}
.flaticon-web:before {          /* SERVIÇO 02 */
    content: "\f10b";
    font-size: 2em;
}
