<!-- SOBRE -->
<section id="sobre" style="margin-left: 13%; margin-right: 15%;">
   <div id="sobre-titulo">
      <h2>About</h2>
      <p>Engineering student and web developer</p>
   </div>
   <div class="row">
      <div class="col-lg-4">
         <img id="imgPerfil" src="includes/img/perfil.jpg" class="img-fluid">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
         <div class="row">
            <div class="col-lg-6">
               <ul class="listaSobre">
                  <li><strong>City:</strong> Brasília, DF - Brazil</li>
                  <li><strong>Email:</strong> brunasantana98@gmail.com</li>
                  <li><strong>Age:</strong> 23</li>
               </ul>
            </div>
            <div class="col-lg-6">
               <ul class="listaSobre">
                  <li><strong>Undergraduate Degree:</strong> Computer engineering</li>
                  <li><strong>Availability:</strong> On</li>
                  <li><strong>Telephone:</strong> +55 61 98212-4998</li>
               </ul>
            </div>
            <div class="sobreParag"style="padding: 20px;" align="justify"> 
               <p> 
                  Passionate about technology, I always try to learn and be
                  on top of the news to create modern and advanced applications.
                  I completed my graduation in the 1st semester of 2021, which I finished early. During the course, I performed internships
                  in different areas from beginning of course to end, to know for sure
                  which area would follow.
               </p>
               <p>
                  I've had the opportunity to go through some companies,
                  working mainly with web development.
                  I worked with several platforms, working as much as
                  full stack and as part of a team.
                  Today, I am a junior developer.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- SOBRE -->