<!-- EXPERIÊNCIAS -->
<section id="experiencias">
   <div id="sobre-titulo">
      <h2>Experience</h2>
      <p>Computer Engineering   1º 2017 - 1º 2021</p>
   </div>
   <div class="container">
   
      <div class="row">
         <div class="col-lg-6">
            <h3 class="experiencia-title">Academic</h3>
            <div class="experiencia-item">
               <h4>UniCEUB - Undergraduate Degree</h4>
               <h5>Computer Engineering <em>- 4 years </em></h5>
               <h6>Centro Universitário de Brasília - UniCEUB</h6>
               <h6>Undergraduate thesis: Home Automation from Natural Language Processing</h6>
            </div>
   
            <div class="experiencia-item">
               <h4>Courses &amp; Certificates</h4>
   
               <h5>Scrum Foudation Professional Certificate - SFPC</h5>
               <h6>2019 - CertiProf </h6>
   
               <h5>Best Practices in PHP Course</h5>
               <h6>2019 - Udemy</h6>
   
               <h5>Object Oriented PHP Course</h5>
               <h6>2019 - Udemy</h6>
   
               <h5>Advanced Programming Course in Computer Engineering and its Structures</h5>
               <h6>2019 - UniCEUB</h6>
               
               <h5>Git/GitHub Course</h5>
               <h6>2020 - B7Web (20 horas)</h6>
   
               <h5>Docker Course</h5>
               <h6>2020 - B7Web</h6>
   
               <h5>NodeJS Course</h5>
               <h6>2020 - B7Web</h6>
   
               <h5>Advanced Python Course</h5>
               <h6>2021 - Udemy</h6>

               <h5>React Course</h5>
               <h6>2021 - B7Web</h6>

               <h5>ASP NET C# MV5 Course</h5>
               <h6>2021 - Udemy</h6>

               <h5>C# POO Applied Course</h5>
               <h6>2021 - Udemy</h6>

            
            </div>
   
         </div>
         <div class="col-lg-6 prof">
            <h3 class="experiencia-title">Professional</h3>
            <div class="experiencia-item">
               <h4>Work</h4>
               <h5>May 2021 - Current</h5>
               <p><em>Happe</em></p>
               <ul>
                  <li>Development of projects, administration of classes in C/C++, assistance to students in the subjects of Data Structure, Basic Programming Language, Computer Graphics, Calculations and Artificial Intelligence (R)</li>
               </ul>
            </div>
            <div class="experiencia-item">
               <h4>Internship</h4>
               <h5>April 2020 - April 2021</h5>
               <p><em>TCDF - Tribunal de Contas do Distrito Federal</em></p>
               <ul>
                  <li>Maintenance of pages and development of ideas in order to solve problems. Applications in: PHP, Wordpress, MySQL.</li>
               </ul>
   
               <h5>11/2019 - 04/2020</h5>
               <p><em>DPU - Defensoria Pública da União</em></p>
               <ul>
                  <li>
                     Development of web applications in PHP. Use of Joomla! and Laravel, applications in MVC. Maintenance and creation of systems.
                  </li>
               </ul>
   
               <h5>07/2018 - 12/2019</h5>
               <p><em>DATAPREV - Empresa de Tecnologia e Informações da Previdência Social</em></p>
               <ul>
                  <li>Internship in PHP web application development. Fullstack development. Use of Wordpress and MariaDB and MySQL databases. Maintenance and creation of systems.
                  </li>
               </ul>
   
               <h5>10/2017 - 05/2018</h5>
               <p><em>TECFF - Tecff Soluções Inovadoras </em></p>
               <ul>
                  <li>Maintenance and support for management-oriented web applications.
                  </li>
               </ul>
            </div>
            <div class="experiencia-item">
               <h4>Tutoring Classes</h4>
               <h5>02/2019 - 12/2020</h5>
               <p><em>UniCEUB - Brasília, DF </em></p>
               <ul>
                  <li>Development of projects, administration of classes in C/C++, assistance to students in the subjects of Data Structure, Basic Programming Language, Computer Graphics, Calculations and Artificial Intelligence (R)</li>
               </ul>
            </div>
         </div>
         </div>
   </section>
   <!-- EXPERIÊNCIAS -->
   
   <div class="espaco"></div>