$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?3083298771875754771ae2e86dcf062f") format("truetype"),
url("./flaticon.woff?3083298771875754771ae2e86dcf062f") format("woff"),
url("./flaticon.woff2?3083298771875754771ae2e86dcf062f") format("woff2"),
url("./flaticon.eot?3083298771875754771ae2e86dcf062f#iefix") format("embedded-opentype"),
url("./flaticon.svg?3083298771875754771ae2e86dcf062f#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "github": "\f101",
    "home": "\f102",
    "instagram": "\f103",
    "letter": "\f104",
    "linkedin": "\f105",
    "phone-call": "\f106",
    "pin": "\f107",
    "portfolio": "\f108",
    "profiles": "\f109",
    "programming": "\f10a",
    "right-arrow": "\f10b",
    "setting": "\f10c",
    "up-arrow": "\f10d",
    "user": "\f10e",
);

.flaticon-github:before {
    content: map-get($flaticon-map, "github");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-letter:before {
    content: map-get($flaticon-map, "letter");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-pin:before {
    content: map-get($flaticon-map, "pin");
}
.flaticon-portfolio:before {
    content: map-get($flaticon-map, "portfolio");
}
.flaticon-profiles:before {
    content: map-get($flaticon-map, "profiles");
}
.flaticon-programming:before {
    content: map-get($flaticon-map, "programming");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-setting:before {
    content: map-get($flaticon-map, "setting");
}
.flaticon-up-arrow:before {
    content: map-get($flaticon-map, "up-arrow");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
