<!-- EXPERIÊNCIAS -->
<section id="experiencias">
<div id="sobre-titulo">
   <h2>Experiências</h2>
   <p>Engenharia da Computação   1º 2017 - 1º 2021</p>
</div>
<div class="container">

   <div class="row">
      <div class="col-lg-6">
         <h3 class="experiencia-title">Acadêmica</h3>
         <div class="experiencia-item">
            <h4>UniCEUB - Superior</h4>
            <h5>Graduação em Engenharia da computação <em>- 4 anos </em></h5>
            <h6>Centro Universitário de Brasília - UniCEUB</h6>
         </div>

         <div class="experiencia-item">
            <h4>Cursos &amp; Certificados</h4>

            <h5>Certificação em Scrum Foudation Professional Certificate - SFPC</h5>
            <h6>2019 - CertiProf </h6>

            <h5>Curso Boas Práticas em php</h5>
            <h6>2019 - Udemy</h6>

            <h5>Curso PHP Orientado à objetos</h5>
            <h6>2019 - Udemy</h6>

            <h5>Curso Programação avançada em Engenharia de Computação e suas estruturas</h5>
            <h6>2019 - UniCEUB</h6>
            
            <h5>Curso Git/GitHub</h5>
            <h6>2020 - B7Web (20 horas)</h6>

            <h5>Curso Docker</h5>
            <h6>2020 - B7Web</h6>

            <h5>Curso NodeJS</h5>
            <h6>2020 - B7Web (40 horas)</h6>

            <h5>Curso de Python do Básico ao Avançado</h5>
            <h6>2021 - Udemy (120 horas)</h6>
         
         </div>

      </div>
      <div class="col-lg-6 prof">
         <h3 class="experiencia-title">Profissional</h3>
         <div class="experiencia-item">
            <h4>Monitoria</h4>
            <h5>02/2019 - 12/2020</h5>
            <p><em>UniCEUB - Brasília, DF </em></p>
            <ul>
               <li>Elaboração de projetos, administração de aulas em C/C++, auxílio aos alunos nas disciplinas de Estrutura de Dados, Linguagem de programação básica, Computação Gráfica, Cálculos e Inteligência Artificial (linguagem R).</li>
            </ul>
         </div>
         <div class="experiencia-item">
            <h4>Estágios</h4>
            <h5>04/2020 - Atual</h5>
            <p><em>TCDF - Tribunal de Contas do Distrito Federal</em></p>
            <ul>
               <li>Manutenção de páginas e desenvolvimento de ideias a fim de solucionar problemas. Aplicações em: PHP, Wordpress, MySQL.</li>
            </ul>

            <h5>11/2019 - 04/2020</h5>
            <p><em>DPU - Defensoria Pública da União</em></p>
            <ul>
               <li>Desenvolvimento de aplicações web em PHP. Uso de Joomla! e Laravel, aplicações em MVC. Manutenção e criação de sistemas.
               </li>
            </ul>

            <h5>07/2018 - 12/2019</h5>
            <p><em>DATAPREV - Empresa de Tecnologia e Informações da Previdência Social</em></p>
            <ul>
               <li>Estágio em desenvolvimento de aplicações web em PHP.  Desenvolvimento fullstack. Uso de Wordpress e banco de dados MariaDB e MySQL. Manutenção e criação de sistemas.
               </li>
            </ul>

            <h5>10/2017 - 05/2018</h5>
            <p><em>TECFF - Tecff Soluções Inovadoras </em></p>
            <ul>
               <li>Estágio em desenvolvimento de aplicações web em PHP.  Desenvolvimento fullstack. Uso de Wordpress e banco de dados MariaDB e MySQL. Manutenção e criação de sistemas.
               </li>
            </ul>


         </div>
      </div>
      </div>
</section>
<!-- EXPERIÊNCIAS -->

<div class="espaco"></div>