<!-- FOOTER -->
<footer id="footer">
   <div class="container">
      <h3>Bruna Figueiredo Santana</h3>
      <div class="social-links">
         <a href="https://www.linkedin.com/in/bruna-figueiredo-santana-a42138179/" class="linkedin" target="_blank"><i class="flaticon-linkedin"></i></a>
         <a href="https://github.com/brunafs" class="github" target="_blank"><i class="flaticon-github"></i></a>
         <a href="https://www.instagram.com/brufigueireds/" class="instagram" target="_blank"><i class="flaticon-instagram"></i></a>
      </div>
   </div>

</footer>
<!-- FOOTER -->
<!-- BOTÃO VOLTAR INICIO -->
<a href="#" class="back-to-top"><i class="flaticon-up-arrow"></i></a>
<!-- BOTÃO VOLTAR INICIO -->