<!-- NAV BAR -->
<header id="header" class="d-flex flex-column justify-content-center">
   <nav class="nav-menu">
      <ul>
         <li class="active"><a href="#home"><i class="flaticon-home"></i><span> Home</span></a></li>
         <li><a href="#sobre"><i class="flaticon-user"></i><span> Sobre</span></a></li>
         <li><a href="#experiencias"><i class="flaticon-portfolio"></i><span> Experiências</span></a></li>
         <li><a href="#contato"><i class="flaticon-letter"></i><span> Contato</span></a></li>
      </ul>
   </nav>
</header>
<!-- NAV BAR -->