<!-- HOME -->
<section id="home">
   <div class="row">
      <div class="col" id="banner"></div>
      <div class="col" id="nome">
         <h1>Bruna Santana</h1>
         <p>Eu sou <span id="typing"></span></p>
         
         <div class="social-links">
            <a href="https://github.com/brunafs" target="_blank"><i class="flaticon-github"></i> </a>
            <a href="https://www.linkedin.com/in/bruna-figueiredo-santana-a42138179/" target="_blank"><i class="flaticon-linkedin"></i></a>
         </div>
      </div>
   </div>
</section>
<!-- HOME -->