<!-- HABILIDADES -->
<section style="margin-left: 13%; margin-right: 15%;">
   <div id="habilidades-titulo">
      <h2>Skills</h2>
   </div>
   <div class="row skills-content">
      <div class="col-lg-6" >
         <div class="progress" >
            <span class="skill">HTML <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress" >
            <span class="skill">CSS <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress" >
            <span class="skill">Bootstrap <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress" >
            <span class="skill">JAVASCRIPT <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress">
            <span class="skill">GIT/GITHUB <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress">
            <span class="skill">REACT <i class="val">25%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress">
            <span class="skill">MySQL, PostgresSQL, MariaDB<i class="val">85%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>

      </div>
      <div class="col-lg-6">
         <div class="progress">
            <span class="skill">PHP <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress">
            <span class="skill">PYTHON <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress">
            <span class="skill">C/C++ <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress">
            <span class="skill">NODEJS <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress">
            <span class="skill">WORDPRESS - CMS <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress">
            <span class="skill">LARAVEL <i class="val">25%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
         <div class="progress">
            <span class="skill">DJANGO<i class="val">25%</i></span>
            <div class="progress-bar-wrap">
               <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>

      </div>
   </div>
</section>
<!-- HABILIDADES -->