<!-- SOBRE -->
<section id="sobre" style="margin-left: 13%; margin-right: 15%;">
   <div id="sobre-titulo">
      <h2>Sobre</h2>
      <p>Estudante de engenharia e desenvolvedora web</p>
   </div>
   <div class="row">
      <div class="col-lg-4">
         <img id="imgPerfil" src="includes/img/perfil.jpg" class="img-fluid">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
         <div class="row">
            <div class="col-lg-6">
               <ul class="listaSobre">
                  <li><strong>Cidade:</strong> Brasília, DF - BR</li>
                  <li><strong>Email:</strong> brunasantana98@gmail.com</li>
                  <li><strong>Idade:</strong> 23</li>
               </ul>
            </div>
            <div class="col-lg-6">
               <ul class="listaSobre">
                  <li><strong>Grau:</strong> Superior</li>
                  <li><strong>Graduação:</strong> Engenharia da Computação</li>
                  <li><strong>Disponibilidade:</strong> Freelance, Home-Office</li>
               </ul>
            </div>
            <div class="sobreParag"style="padding: 20px;" align="justify"> 
               <p> 
                  Apaixonada por tecnologia, procuro sempre aprender e estar
                  a par das novidades para criar aplicações modernas e avançadas.
                  Estou no 10º semestre de Engenharia da Computação, curso o qual
                  irei terminar com antecedência de um semestre. Realizei estágios
                  em diversas áreas no início do curso ao fim, para saber com certeza
                  qual área iria seguir. 
               </p>
               <p>
                  Hoje, já tive a oportunidades de passar por algumas empresas, 
                  trabalhando com desenvolvimento web, onde me encontrei. 
                  Trabalhei com diversas plataformas, trabalhando tanto como
                  full stack quanto como parte de uma equipe, a maioria com métodos SCRUM.
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- SOBRE -->